In [3]:
import pandas as pd

In [11]:
data=pd.read_csv("C:\\Users\\DELL\\AQIMODEL\\aqidata.csv")

In [12]:
data.head()

   PM2.5    PM10    NO2    NH3    CO    SO2      O3  AQI    Remark
0  88.76  129.06  26.00  10.28  0.14  26.96  117.44  197  Moderate
1  64.18  135.32  30.85  12.91  0.11  33.59  111.81  198  Moderate
2  72.47  104.09  28.07  11.42  0.09  19.00  138.18  188  Moderate
3  69.80  114.84  23.20  12.25  0.16  10.55  109.74  173  Moderate
4  73.96  114.86  20.17  10.95  0.12  14.07  118.09  165  Moderate

In [13]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [14]:
data = data.drop(['Remark'], axis=1)
data.head()

   PM2.5    PM10    NO2    NH3    CO    SO2      O3  AQI
0  88.76  129.06  26.00  10.28  0.14  26.96  117.44  197
1  64.18  135.32  30.85  12.91  0.11  33.59  111.81  198
2  72.47  104.09  28.07  11.42  0.09  19.00  138.18  188
3  69.80  114.84  23.20  12.25  0.16  10.55  109.74  173
4  73.96  114.86  20.17  10.95  0.12  14.07  118.09  165

In [15]:
regressor=LinearRegression()

In [16]:
x=data.iloc[:,:7]

In [17]:
y=data.iloc[:,-1]

In [18]:
from matplotlib import pyplot as plt

In [19]:
regressor.fit(x,y)

LinearRegression()

In [20]:
import pickle

In [21]:
pickle.dump(regressor, open('model.pkl','wb'))

In [22]:
model = pickle.load(open('model.pkl','rb'))

In [23]:
print(model.predict([[34,121,0,34,0,0,57]]))

[113.81982622]